@import "media-query-specific.scss";
@import "common.scss";

.b-hero-image {
  background-image: url('http://via.placeholder.com/600x600');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    background-image: url('http://via.placeholder.com/1440x650');
    height: 650px;
  }
}

.b-content-container {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  position: relative;
  padding: 1rem;
  flex: 1 1 0;

  p {
    text-align: center;
    padding: 1rem 0;
  }

  .b-content__btn-container {
    margin-top: 3rem;

    .b-btn {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  
}

.b-content-image {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.b-btn {
  text-transform: uppercase;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
  width: 115px;
}
